#new-post-command {
    width: 90%;
    height: 100px;
    line-height: 100px;
    margin: 0 5%;
    border-bottom: 1px solid lightgrey;
}

#new-post-command > #new-post-command-wrapper {
    height: 100px;
    float: left;
}

#new-post-command > #logout{
    height: 100px;
    float: right;
}

#logout > button {
    padding: 10px 25px;
    border: 2px solid #3da2ff;
    border-radius: 15px;

    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;;
    color: #3da2ff;

    background: white;

    -webkit-transition: color 1s; /* Safari */
    -webkit-transition-timing-function: ease;
    transition: color 1s;
    transition-timing-function: ease;
}

#logout > button:hover {
    color: #444a54;
    cursor: pointer;
}

#new-post-command-wrapper > button {
    padding: 10px 25px;
    border: 2px solid #3da2ff;
    border-radius: 15px;

    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;;
    color: #3da2ff;

    background: white;

    -webkit-transition: color 1s; /* Safari */
    -webkit-transition-timing-function: ease;
    transition: color 1s;
    transition-timing-function: ease;
}

#new-post-command-wrapper > button:hover {
    color: #444a54;
    cursor: pointer;
}

.question {
    width: 100%;
}

.question > .comments {
    float: left;
    width: 25%;
    height: 140px;
    padding-top: 40px;
}

.comments > .square-wrapper {
    width: 80px;
    height: 80px;
    border: 1px solid #3da2ff;
    margin: 0 auto;
    padding: 5px;
}

.square-wrapper > p {
    margin: auto;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 15px;
    text-align: center;
    color: grey;
}

.square-wrapper > p.number-comments {
    padding: 10px 0;
    font-weight: bold;
    font-size: 20px;
}

.question > a > .post {
    float: left;
    width: 70%;
    padding: 40px 0 20px;
    border-bottom: 1px solid lightgrey;
}

.question > a > .post:hover {
    cursor: pointer;
}

.post > h2 {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #444a54;
    margin: 0 0 20px;
}

.post > p {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 15px;
}

.post > p.content {
    height: 40px;
    overflow: hidden;
    margin: 0;
    color: #444a54;
}

.post > p.author {
    height: 20px;
    margin: 20px 0 0 0;
    font-weight: bold;
    color: #3da2ff;
    text-align: right;
}

.post > .post-id {
    display: none;
}

#new-post-block-view {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(79, 79, 79, 0.8);
}

#new-post {
    position:absolute;
    width: 50%;
    height: 50%;
    box-shadow: 0 1px 10px 1px grey;
    background-color: white;
    border: 2px solid #3da2ff;
    border-radius:20px;
    padding:20px;
}

#new-post > h3 {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 20px;
    color: #444a54;
    width: 100%;
    margin: 0 0 20px;
    padding: 0 0 20px;
    border-bottom: 1px solid lightgrey;
}

#new-post > input[type=text], #new-post > textarea {
    width: 95%;
    border: 2px solid lightgrey;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 15px;
    color: grey;
}

#new-post > textarea {
    height: 100px;
}

#new-post > .bottom {
    position: absolute;
    left: 0;
    bottom: 20px;
    width: 100%;
    height: 50px;
    line-height: 50px;
}

.bottom > #new-post-block-bottom-wrapper {
    float: right;
    height: 50px;
}

#new-post-block-bottom-wrapper > button {
    float: right;
    margin: auto 30px;
    padding: 10px 25px;
    border: 2px solid #3da2ff;
    border-radius: 15px;

    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;;
    color: #3da2ff;

    background: white;

    -webkit-transition: color 1s; /* Safari */
    -webkit-transition-timing-function: ease;
    transition: color 1s;
    transition-timing-function: ease;
}

#new-post-block-bottom-wrapper > button:hover {
    color: #444a54;
    cursor: pointer;
}

#new-post-block-bottom-wrapper > p {
    display: inline;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 15px;
    color: lightgrey;
}

#new-post-block-bottom-wrapper > p:hover {
    color: #444a54;
    cursor: pointer;
}