.account-access {
    width: 39%;
    padding: 0 5%;
    margin: 40px 0;
    float: left;
}

.right-separator {
    border-right: 1px solid lightgrey;
}

.account-access > h2 {
    display: inline-block;
    width: 100%;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #444a54;
    text-align: center;
    margin: 0 0 40px 0;
}

.account-access > input[type=text] {
    display: block;
    width: 92%;
    border-radius: 5px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 15px;
    color: #444a54;
    margin: 0 auto 30px;
    border: 1px solid lightgrey;
    padding: 2%;
}

.account-access > a {
    display: block;
    width: 50%;
    margin: auto;
    padding: 10px 25px;
    border: 2px solid #3da2ff;
    border-radius: 15px;

    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;;
    color: #3da2ff;

    background: white;

    -webkit-transition: color 1s; /* Safari */
    -webkit-transition-timing-function: ease;
    transition: color 1s;
    transition-timing-function: ease;
}

.account-access > a:hover {
    color: #444a54;
    cursor: pointer;
}