#new-comment-command {
    width: 90%;
    height: 100px;
    line-height: 100px;
    margin: 0 5%;
    border-bottom: 1px solid lightgrey;
}

#new-comment-command > #new-comment-command-wrapper {
    height: 100px;
    float: left;
}

#new-comment-command > #logout{
    height: 100px;
    float: right;
}

#logout > button {
    padding: 10px 25px;
    border: 2px solid #3da2ff;
    border-radius: 15px;

    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;;
    color: #3da2ff;

    background: white;

    -webkit-transition: color 1s; /* Safari */
    -webkit-transition-timing-function: ease;
    transition: color 1s;
    transition-timing-function: ease;
}

#logout > button:hover {
    color: #444a54;
    cursor: pointer;
}

#new-comment-command-wrapper > button {
    padding: 10px 25px;
    border: 2px solid #3da2ff;
    border-radius: 15px;

    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;;
    color: #3da2ff;

    background: white;

    -webkit-transition: color 1s; /* Safari */
    -webkit-transition-timing-function: ease;
    transition: color 1s;
    transition-timing-function: ease;
}

#new-comment-command-wrapper > button:hover {
    color: #444a54;
    cursor: pointer;
}

.post {
    width: 100%;
}

.post > .rating {
    float: left;
    width: 25%;
    margin-top: 20px;
}

.rating > .rate {
    width: 50px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    color: #444a54;
    padding: 10px 25px;
    margin: auto;
}

.rating > .button {
    width: 50px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    color: #f1f1f1;
    border-radius: 15px;
    padding: 10px 25px;
    background: #3da2ff;
    -webkit-transition: color 1s; /* Safari */
    -webkit-transition-timing-function: ease;
    transition: color 1s;
    transition-timing-function: ease;
    text-align: center;
    cursor: pointer;
    margin: auto;
}

.rating > .button:hover {
    color: #444a54;
    cursor: pointer;
}

.post > .post-block {
    float: left;
    min-height: 150px;
    width: 70%;
    padding: 20px 0 5%;
    border-bottom: 1px solid lightgrey;
}

.post-block > h2 {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #444a54;
}

.post-block > p {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 20px;
    color: #444a54;
    margin: 0;
}

.post-block > p.author {
    font-weight: bold;
    color: #3da2ff;
    text-align: right;
    margin-top: 30px;
}

.post > .comment-id {
    display: none;
}

#new-comment-block-view {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(79, 79, 79, 0.8);
}

#new-comment {
    position:absolute;
    width: 50%;
    height: 50%;
    box-shadow: 0 1px 10px 1px grey;
    background-color: white;
    border: 2px solid #3da2ff;
    border-radius:20px;
    padding:20px;
}

#new-comment > h3 {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 20px;
    color: #444a54;
    width: 100%;
    margin: 0 0 20px;
    padding: 0 0 20px;
    border-bottom: 1px solid lightgrey;
}

#new-comment > textarea {
    width: 95%;
    height: 100px;
    border: 2px solid lightgrey;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 15px;
    color: grey;
}

#new-comment > .bottom {
    position: absolute;
    left: 0;
    bottom: 20px;
    width: 100%;
    height: 50px;
    line-height: 50px;
}

.bottom > #new-comment-block-bottom-wrapper {
    float: right;
    height: 50px;
}

#new-comment-block-bottom-wrapper > button {
    float: right;
    margin: auto 30px;
    padding: 10px 25px;
    border: 2px solid #3da2ff;
    border-radius: 15px;

    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;;
    color: #3da2ff;

    background: white;

    -webkit-transition: color 1s; /* Safari */
    -webkit-transition-timing-function: ease;
    transition: color 1s;
    transition-timing-function: ease;
}

#new-comment-block-bottom-wrapper > button:hover {
    color: #444a54;
    cursor: pointer;
}

#new-comment-block-bottom-wrapper > p {
    display: inline;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 15px;
    color: lightgrey;
}

#new-comment-block-bottom-wrapper > p:hover {
    color: #444a54;
    cursor: pointer;
}
