html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f1f1f1;
}

#header-wrapper {
    width: 100%;
    height: 6%;
    background-color: white;
    border-bottom: 1px solid #808080;
    box-shadow: 0 1px 10px 1px grey;
    padding: 2% 0;
}

#header {
    width: 80%;
    margin: 0 auto;
    padding: 0;
    height: 100%;
}

h1 {
    float: left;
    height: 100%;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #3da2ff;
    margin: 0;
    padding: 0;
}

.dark-title {
    color: #444a54;
}

#header > #login-info {
    float: right;
    margin-right: 40px;
}

#login-info > p {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 15px;
    margin: 0;
    padding: 0 10px;
}

#login-info > p.username {
    font-weight: bold;
    color: #3da2ff;
}

#login-info > p.userAddress {
    color: #444a54;
}

#main-wrapper {
    width: 100%;
    height: 84%;
}

#main {
    width: 80%;
    background-color: white;
    margin: 1% auto 0 auto;
}
